<div class="container">
  <h1 class="text-center">Investment calculator</h1>
  <%= form_tag({:controller => 'home', :action => 'calculate'}, :method => :get, :remote => true) do %>
      <div class="form-group col-lg-6 offset-lg-3">
        <label for="initial_amount" class="control-label">Initial amount</label>
        <%= text_field_tag('initial_amount', 0, :class => "form-control", :placeholder => "Your initial investment amount") %>
      </div>
      <div class="form-group col-lg-6 offset-lg-3">
        <label for="invest_years">Invest years</label>
        <%= text_field_tag('invest_years', 0, :class => "form-control", :placeholder => "How many years are you planning to invest?") %>
      </div>
      <div class="form-group col-lg-6 offset-lg-3">
        <label for="invest_years">Return rate</label>
        <%= text_field_tag('return_rate', 6.8, :class => "form-control", :placeholder => "What's the expected annual return rate?") %>
      </div>
      <div class="col-lg-6 offset-lg-3 margin_top">
        <%= submit_tag("calculate", :id => "calculate", :class => "btn btn-light col-sm-12") %>
      </div>
  <% end -%>
  <h1 id="calculation_result"></h1>
</div>